@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #666;
  max-height: 100vh;
  margin: 0;
  position: relative;
}

h1 {
  color: white;
}

video {
  width: 100%;
}

.screen {
  cursor: pointer;
  width: 75%;
  background-color: black !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.controls {
  width: 75%;
  background: #333;
  opacity: 0.7;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

.controls .btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.controls .fa-play {
  color: green;
}

.controls .fa-rev {
  color: red;
}

.controls .fa-pause {
  color: white;
}

.controls .fa-angle-double-right {
  color: blue;
}

.controls .timestamp {
  color: white;
  font-weight: bold;
  margin-left: 10px;
  display: flex;
  width: 150px;
  justify-content: center;
  padding-left: auto;
  padding-right: auto;
}

.btn:focus {
  outline: 0;
}

@media (max-width: 768px) {
  .screen,
  .controls {
    width: 90%;
  }

  .timestamp {
    font-size: 10px;
  }
}
